.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: absolute;
    top: 50%;
    flex-direction: column;
    background-color: blueviolet;
    padding: 3rem;
    border-radius: 20px;
}

.level {
    font-size: xx-large;
    color: gold;
}

.start {
    font-size: large;
    background-color: red;
    border-radius: 5px;
}

.canvas {
    width: 80vw;
    height: 90vh;
    border: 5px solid yellow;
    background-color: black;
}

.panel {
    width: 80vw;
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    justify-content: space-evenly;
}