.App {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  margin: 0 auto 0 auto;
}

.heart {
  width: 5rem;
}

.menu {
  position: absolute;
  top: 50%;
  flex-direction: column;
  align-self: center;
  background-color: rgb(226, 43, 43);
  padding: 3rem;
  border-radius: 0 20px 0 20px;
}

.level {
  font-size: xx-large;
  color: gold;
}

.start {
  font-size: large;
  background-color: red;
  border-radius: 5px;
}

.canvas {
  width: 100%;
  border: 5px solid yellow;
  background-color: black;
}

.panel {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
}

.panel * {
    margin: auto;
}
