body, html, *{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hearts{
  display: flex;
  flex-direction: row;
}

.hearts *{
  width: 2rem;
}

.background{
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  top: 50%;
  flex-direction: column;
  align-self: center;
  background-color: rgb(226, 43, 43);
  padding: 3rem;
  border-radius: 0 20px 0 20px;
}

.level {
  font-size: xx-large;
  color: gold;
}

.start {
  font-size: large;
  background-color: red;
  border-radius: 5px;
}

.canvas {
  width: 100%;
  height: 70%;
  border: 2px solid yellow;
  background-color: black;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  color: red;
}

.panel * {
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.buttons *{
  width: 3rem;
  padding: 1rem;
  border-radius: 20px;
}

.buttons * :hover{
  background-color: red;
}

@media (hover: hover) and (pointer: fine){
  .buttons{
    display: none;
  }

  .canvas{
    height: 90%;
  }
}